.shop{
   display: flex;
}
.courses{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.cart{
    width: 20%;
text-align: center;
}